---
import Fecha from '../components/Fecha.astro';
import Layout from '../layouts/Layout.astro';
import "bootstrap/dist/css/bootstrap.min.css";
---

<Layout>
    <div class="container-fluid d-flex flex-column vh-100 text-center">
        <div class="d-flex flex-column justify-content-center align-items-center flex-grow-1" style="flex-basis: 55%;">
            <div class="py-3">
                <h1 class="title">Nuestra Boda</h1>
            </div>
            <div class="py-3">
                <h1 class="name-principal">Daniel y Diana</h1>
            </div>
        </div>

        <div class="d-flex flex-column justify-content-evenly flex-grow-1" style="flex-basis: 45%;">
            <div class="py-3">
                <Fecha />
            </div>
            <div class="py-3">
                <h1 class="title-invite">INVITACIÓN PARA:</h1>
                <h3 class="names">Vanessa Castaño y Esteban Mejía</h3>
            </div>
            <div class="py-3">
                <h5 class="btn btn-link">Ver invitación</h5>
            </div>
        </div>
    </div>
</Layout>

<style>
    @font-face {
        font-family: 'Bonheur';
        src: url('/fonts/bonheur.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'BookAntiqua';
        src: url('/fonts/book-antiqua.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'BookAntiqua-Bold';
        src: url('/fonts/book-antiqua-bold.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .name-principal {
        font-size: clamp(2rem, 18vw, 12rem); 
        font-family: 'Bonheur', sans-serif;
        white-space: nowrap;
        text-align: center;
    }
    .names {
        font-size: clamp(2rem, 8vw, 6rem); 
        font-family: 'Bonheur', sans-serif;
        text-align: center;
    }

    .title{
        font-size: clamp(1rem,7vw, 6rem); 
        font-family: 'BookAntiqua', sans-serif;
        text-align: center;
    }

    .title-invite{
        font-size: clamp(1rem, 4vw, 6rem); 
        font-family: 'BookAntiqua-Bold', sans-serif;
        text-align: center;
    }
</style>
